!!!
%html
  %head
    %title Jade
  %body
    %h1#title Jade rules
    
    %ul
      %li.first a
      %li b
      %li
        %ul.first.middle c
        %ul d
        %ul.last.middle e
      %li.last f
    
    %p
      just a regular paragraph
      nothing to special
      to see here...
    
    %a{ href: "/" } Home
    %a{ href: "/blog"} Blog