#header
  h1 Jade
  #nav
    a(href='/') Home
    a(href='/tutorial') Tutorial
    a(href='/reference') Language Reference
    a(href='/api') API
    a(href='/command-line') Command Line
    a(href='http://cssdeck.com/labs/msoldezp') Online Demo