#header
  h1 Jade
  .container
    nav.navbar.navbar-default(role="navigation")
      .navbar-header
        button.navbar-toggle(type="button" data-toggle="collapse" data-target="navbar-collapse")
         span.sr-only
         span.icon-bar
         span.icon-bar
         span.icon-bar
      div.collapse.navbar-collapse
        ul.nav.navbar-nav
          li: a(href='/') Home
          li: a(href='/tutorial') Tutorial
          li: a(href='/reference') Language Reference
          li: a(href='/api') API
          li: a(href='/command-line') Command Line
          li: a(href='/demo') Online Demo