.DS_Store
.idea
.vscode
testing
node_modules
lib-cov
coverage
cov-pt*
*.seed
*.log
*.csv
*.dat
*.out
*.patch
*.pid
*.gz
**/test/output*
**/test/temp
.release.json
package-lock.json

scripts/tsconfig.json
packages/pug-error/lib
