[submodule "support/expresso"]
	path = support/expresso
	url = git://github.com/visionmedia/expresso.git
[submodule "support/markdown"]
	path = support/markdown
	url = http://github.com/evilstreak/markdown-js.git
[submodule "support/sass"]
	path = support/sass
	url = git://github.com/visionmedia/sass.js.git
[submodule "benchmarks/haml-js"]
	path = benchmarks/haml-js
	url = git://github.com/creationix/haml-js.git
[submodule "benchmarks/ejs"]
	path = benchmarks/ejs
	url = git://github.com/visionmedia/ejs.git
[submodule "benchmarks/haml"]
	path = benchmarks/haml
	url = git://github.com/visionmedia/haml.js.git
