mixin jade
  pre.cm-s-default(data-control='input-jade')
    code
      block
mixin html
  pre.cm-s-default(data-control='output-html')
    code
      block
mixin js
  pre.cm-s-default(data-control='input-js')
    code
      block