extends ../reference.jade

block documentation
  h1 {{case-title}}

  p {{case-description}}

  .row(data-control='interactive')
    .col-lg-6
      +jade
        :jadesrc
          - var friends = 10
          case friends
            when 0
              p you have no friends
            when 1
              p you have a friend
            default
              p you have \#{friends} friends
    .col-lg-6
      +html
        :htmlsrc
          <p>you have 10 friends</p>

  h2 {{case-fall-through}}

  p {{case-fall-through-description}}

  .row(data-control='interactive')
    .col-lg-6
      +jade
        :jadesrc
          - var friends = 0
          case friends
            when 0
            when 1
              p you have very few friends
            default
              p you have \#{friends} friends
    .col-lg-6
      +html
        :htmlsrc
          <p>you have very few friends</p>

  h2 {{block-expansion}}

  p {{case-block-expansion-description}}

  .row(data-control='interactive')
    .col-lg-6
      +jade
        :jadesrc
          - var friends = 1
          case friends
            when 0: p you have no friends
            when 1: p you have a friend
            default: p you have \#{friends} friends
    .col-lg-6
      +html
        :htmlsrc
          <p>you have a friend</p>
