extends ../reference.pug

block documentation
  h1 Comments

  p Single line comments look the same as JavaScript comments and must be placed on their own line:

  .row(data-control='interactive')
    .col-lg-6
      +pug
        :pugsrc
          // just some paragraphs
          p foo
          p bar
    .col-lg-6
      +html
        :htmlsrc
          <!-- just some paragraphs -->
          <p>foo</p>
          <p>bar</p>

  p Pug also supports unbuffered comments, by simply adding a hyphen

  .row(data-control='interactive')
    .col-lg-6
      +pug
        :pugsrc
          //- will not output within markup
          p foo
          p bar
    .col-lg-6
      +html
        :htmlsrc
          <p>foo</p>
          <p>bar</p>

  h2 Block Comments

  p A block comment is legal as well:

  .row(data-control='interactive')
    .col-lg-6
      +pug
        :pugsrc
          body
            //
              As much text as you want
              can go here.
    .col-lg-6
      +html
        :htmlsrc
          <body>
            <!--
            As much text as you want
            can go here.
            -->
          </body>

  h2 Conditional Comments

  p.
    Pug does not have any special syntax for conditional comments.
    If your line begins with #[code &lt;] then it is treated as plain text.
    So just use normal HTML style conditional comments:

  .row(data-control='interactive')
    .col-lg-6
      +pug
        :htmlsrc
          <!--[if IE 8]>
          <html lang="en" class="lt-ie9">
          <![endif]-->
          <!--[if gt IE 8]><!-->
          <html lang="en">
          <!--<![endif]-->
    .col-lg-6
      +html
        :htmlsrc
          <!--[if IE 8]>
          <html lang="en" class="lt-ie9">
          <![endif]-->
          <!--[if gt IE 8]><!-->
          <html lang="en">
          <!--<![endif]-->
