extends ../reference.jade

block documentation
  h2 {{conditionals-title}}

  p {{conditionals-description}}

  .row(data-control='interactive')
    .col-lg-6
      +jade
        :jadesrc
          - var user = { description: 'foo bar baz' }
          - var authorised = false
          #user
            if user.description
              h2 {{description}}
              p.description= user.description
            else if authorised
              h2 {{description}}
              p.description.
                {{no-description}}
                {{why-not-add-one}}
            else
              h1 {{description}}
              p.description {{no-description}}
    .col-lg-6
      +html
        :htmlsrc
          <div id="user">
            <h2>{{description}}</h2>
            <p class="description">foo bar baz</p>
          </div>

  p {{unless-description}}

  .row
    .col-lg-6
      +jade
        :jadesrc
          unless user.isAnonymous
            p {{you-are-logged-in}}
    .col-lg-6
      +jade
        :jadesrc
          if !user.isAnonymous
            p {{you-are-logged-in}}
