extends ../reference.pug

block documentation
  h1 Doctype
  .row(data-control='interactive')
    .col-lg-6
      +pug
        :pugsrc
          doctype html
    .col-lg-6
      +html
        :htmlsrc
          <!DOCTYPE html>

  h2 Doctype Shortcuts

  p There are shortcuts for commonly used doctypes:

  dl
    dt doctype html
    dd
      pre
        code= '<!DOCTYPE html>'
    each doctype, key in doctypes
      if key != '5' && key != 'default'
        dt= 'doctype ' + key
        dd
          pre
            code= doctype

  h2 Custom Doctypes

  p You can also use your own literal custom doctype:

  .row(data-control='interactive')
    .col-lg-6
      +pug
        :pugsrc
          doctype html PUBLIC "-//W3C//DTD XHTML Basic 1.1//EN"
    .col-lg-6
      +html
        :htmlsrc
          <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Basic 1.1//EN">

  h2 Doctype Option

  p.
    The doctype affects compilation in some other cases, for example self closing tags
    and #[a(href="/reference/attributes#booleanattribs") boolean attributes]).
    For this reason, you might sometimes want to specify it manually. You can do this via the
    #[code doctype] option.  e.g.


  +js
    :jssrc
      var pug = require('./');

      // Compile a function
      var fn = pug.compile('img(src="foo.png")', {doctype: 'xml'});

      // Render the function
      var html = fn({});
      // => '<img src="foo.png"></img>'

      // Compile a function
      var fn = pug.compile('img(src="foo.png")', {doctype: 'html'});

      // Render the function
      var html = fn({});
      // => '<img src="foo.png">'

