extends ../reference.jade

block documentation
  h1 {{doctype-title}}
  .row(data-control='interactive')
    .col-lg-6
      +jade
        :jadesrc
          doctype html
    .col-lg-6
      +html
        :htmlsrc
          <!DOCTYPE html>

  h2 {{doctype-shortcuts}}

  p {{doctype-shortcuts-description}}

  dl
    dt doctype html
    dd
      pre
        code= '<!DOCTYPE html>'
    each doctype, key in doctypes
      if key != '5' && key != 'default'
        dt= 'doctype ' + key
        dd
          pre
            code= doctype

  h2 {{custom-doctypes}}

  p {{custom-doctypes-description}}

  .row(data-control='interactive')
    .col-lg-6
      +jade
        :jadesrc
          doctype html PUBLIC "-//W3C//DTD XHTML Basic 1.1//EN"
    .col-lg-6
      +html
        :htmlsrc
          <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Basic 1.1//EN">

  h2 {{doctype-option}}

  p {{doctype-option-description}}


  +js
    :jssrc
      var jade = require('./');

      // {{compile-function}}
      var fn = jade.compile('img(src="foo.png")', {doctype: 'xml'});

      // {{render-to-html}}
      var html = fn({});
      // => '<img src="foo.png"></img>'

      // {{compile-function}}
      var fn = jade.compile('img(src="foo.png")', {doctype: 'html'});

      // {{render-to-html}}
      var html = fn({});
      // => '<img src="foo.png">'

