extends ../reference.jade

block documentation
  h1 Filters

  p.
    Filters let you use other languages within a Jade template.
    They take a block of plain text as an input. To pass
    options to the filter, add them inside parentheses after the
    filter name, just like one would do with tag attributes:
    #[code :less(ieCompat=false)].
  p.
    All #[a(href='https://www.npmjs.com/browse/keyword/jstransformer') JSTransformers] can be used as Jade filters.
    Popular filters include #[code :coffee-script], #[code :babel], #[code :uglify-js], #[code :less], and #[code :markdown-it].

  .row
    .col-lg-6
      +jade
        :jadesrc
          :markdown-it
            # Markdown

            I often like including markdown documents.
          script
            :coffee-script
              console.log 'This is coffee script'
    .col-lg-6
      +html
        :htmlsrc
          <h1>Markdown</h1>
          <p>I often like including markdown documents.</p>
          <script>console.log('This is coffee script')</script>
  .panel.panel-warning
    .panel-heading Warning
    .panel-body
      p Filters are compile time.  This makes them fast but means they cannot support dynamic content.
      p.
        Built in filters are not available in the browser as they would not all work.
        Providing you compile your templates server side, they will still work fine though.
