extends ../reference.jade

block documentation
  h2 {{filters-title}}

  p {{filters-description}}

  .row
    .col-lg-6
      +jade
        :jadesrc
          :markdown
            # Markdown

            I often like including markdown documents.
          script
            :coffee
              console.log 'This is coffee script'
    .col-lg-6
      +html
        :htmlsrc
          <h1>Markdown</h1>
          <p>I often like including markdown documents.</p>
          <script>console.log('This is coffee script')</script>
  .panel.panel-warning
    .panel-heading {{warning}}
    .panel-body {{filters-warning}}
