extends ../reference.pug

block documentation
  h1 Includes

  p Includes allow you to insert the contents of one Pug file into another.

  .row
    .col-lg-6
      +pug
        :pugsrc
          //- index.pug
          doctype html
          html
            include ./includes/head.pug
            body
              h1 My Site
              p Welcome to my super lame site.
              include ./includes/foot.pug
      +pug
        :pugsrc
          //- includes/head.pug
          head
            title My Site
            script(src='/javascripts/jquery.js')
            script(src='/javascripts/app.js')

      +pug
        :pugsrc
          //- includes/foot.pug
          #footer
            p Copyright (c) foobar
    .col-lg-6
      +html
        :htmlsrc
          <!doctype html>
          <html>
            <head>
              <title>My Site</title>
              <script src='/javascripts/jquery.js'></script>
              <script src='/javascripts/app.js'></script>
            </head>
            <body>
              <h1>My Site</h1>
              <p>Welcome to my super lame site.</p>
              <div id="footer">
                <p>Copyright (c) foobar</p>
              </div>
            </body>
          </html>

  p The path of the included file, if specified absolutely (e.g. #[code include /root.pug]), is resolved by prepending #[code options.basedir] to the file name provided. Otherwise, the path is relative to the current file being compiled.

  p In Pug v1, if no file extension is given, #[code .pug] is automatically appended to the file name, but in Pug v2 this is behavior is removed.

  h2 Including Plain Text

  p Including files that are not Pug just includes the raw text.

  .row
    .col-lg-6
      +pug
        :pugsrc
          //- index.pug
          doctype html
          html
            head
              style
                include style.css
            body
              h1 My Site
              p Welcome to my super lame site.
              script
                include script.js
      +pug
        :csssrc
          /* style.css */
          h1 { color: red; }

      +pug
        :jssrc
          // script.js
          console.log('You are awesome');
    .col-lg-6
      +html
        :htmlsrc
          <!doctype html>
          <html>
            <head>
              <style>
                /* style.css */
                h1 { color: red; }
              </style>
            </head>
            <body>
              <h1>My Site</h1>
              <p>Welcome to my super lame site.</p>
              <script>
                // script.js
                console.log('You are awesome');
              </script>
            </body>
          </html>

  h2 Including Filtered Text

  p You can combine filters with includes to filter things as you include them.

  .row
    .col-lg-6
      +pug
        :pugsrc
          //- index.pug
          doctype html
          html
            head
              title An Article
            body
              include:markdown-it article.md
      +pug
        :highlight(mode='markdown')
          # article.md

          This is an article written in markdown.

    .col-lg-6
      +html
        :htmlsrc
          <!doctype html>
          <html>
            <head>
              <title>An Article</title>
            </head>
            <body>
              <h1>article.md</h1>
              <p>This is an article written in markdown.</p>
            </body>
          </html>
