extends ../reference.jade

block documentation
  h1 {{inheritance-title}}

  | {{inheritance-description}}

  p layout.jade
  +jade
    :jadesrc
      html
        head
          title My Site - \#{title}
          block scripts
            script(src='/jquery.js')
        body
          block content
          block foot
            #footer
              p some footer content

  p {{extend-layout}}

  p page-a.jade
  +jade
    :jadesrc
      extends ./layout.jade

      block scripts
        script(src='/jquery.js')
        script(src='/pets.js')

      block content
        h1= title
        each pet in pets
          include pet

  p {{sub-blocks}}

  p sub-layout.jade
  +jade
    :jadesrc
      extends ./layout.jade

      block content
        .sidebar
          block sidebar
            p nothing
        .primary
          block primary
            p nothing
  p page-b.jade
  +jade
    :jadesrc
      extends ./sub-layout.jade

      block content
        .sidebar
          block sidebar
            p nothing
        .primary
          block primary
            p nothing


  h2 {{append-prepend}}

  p {{append-prend-description}}

  +jade
    :jadesrc
      html
        head
          block head
            script(src='/vendor/jquery.js')
            script(src='/vendor/caustic.js')
        body
          block content

  p {{append-prepend-example}}

  +jade
    :jadesrc
      extends layout

      block append head
        script(src='/vendor/three.js')
        script(src='/game.js')

  p {{optional-block}}

  +jade
    :jadesrc
      extends layout

      append head
        script(src='/vendor/three.js')
        script(src='/game.js')
