extends ../reference.jade

block documentation
  h1 {{plain-text-title}}

  p {{plain-text-description}}

  h2 {{piped-text}}

  p {{piped-text-description}}

  .row(data-control='interactive')
    .col-lg-6
      +jade
        :jadesrc
          | Plain text can include <strong>html</strong>
          p
            | It must always be on its own line
    .col-lg-6
      +html
        :htmlsrc
          Plain text can include <strong>html</strong>
          <p>It must always be on its own line</p>

  h2 {{inline-in-tag}}

  p {{inline-in-tag-description}}

  .row(data-control='interactive')
    .col-lg-6
      +jade
        :jadesrc
          p Plain text can include <strong>html</strong>
    .col-lg-6
      +html
        :htmlsrc
          <p>Plain text can include <strong>html</strong></p>

  h2 {{block-in-tag}}

  p {{block-in-tag-description}}

  .row(data-control='interactive')
    .col-lg-6
      +jade
        :jadesrc
          script.
            if (usingJade)
              console.log('you are awesome')
            else
              console.log('use jade')
    .col-lg-6
      +html
        :htmlsrc
          <script>
            if (usingJade)
              console.log('you are awesome')
            else
              console.log('use jade')
          </script>
