extends ../reference.jade

block documentation
  h1 {{tags-title}}

  p {{tags-description}}

  .row(data-control='interactive')
    .col-lg-6
      +jade
        :jadesrc
          ul
            li Item A
            li Item B
            li Item C
    .col-lg-6
      +html
        :htmlsrc
          <ul>
            <li>Item A</li>
            <li>Item B</li>
            <li>Item C</li>
          </ul>

  p {{tags-auto-self-closing}}

  .row(data-control='interactive')
    .col-lg-6
      +jade
        :jadesrc
          img
    .col-lg-6
      +html
        :htmlsrc
          <img/>

  h2 {{block-expansion}}

  p {{block-expansion-description}}

  .row(data-control='interactive')
    .col-lg-6
      +jade
        :jadesrc
          a: img
    .col-lg-6
      +html
        :htmlsrc
          <a><img/></a>

  h2 {{self-closing-tags}}

  p {{self-closing-tags-description}}

  .row(data-control='interactive')
    .col-lg-6
      +jade
        :jadesrc
          foo/
          foo(bar='baz')/
    .col-lg-6
      +html
        :htmlsrc
          <foo/>
          <foo bar="baz"/>
