html {
    background: url(../images/tile.png);
}
body {
    margin: 0;
    font: 12px/1.4 "Helvetica Nueue", "Lucida Grande", Arial, sans-serif;
    background: url(../images/top.png) 0 0 repeat-x;
    text-align: center;
}
h1 {
    margin: 0 auto 55px auto;
    width: 217px;
    height: 120px;
    text-indent: -999999px;
    background: url(../images/logo.png);
    outline: none;
}
#container {
    margin: 0 auto;
    width: 950px;
    text-align: left;
}
#header {
    position: relative;
    padding: 80px 0;
}
#tagline {
    position: absolute;
    top: 170px;
    left: 410px;
    opacity: 0.7;
}
#arrow {
    position: absolute;
    top: 340px;
    left: 400px;
    z-index: 10;
    width: 120px;
    height: 130px;
    background: url(../images/arrow.png);
}
#editors textarea,#editors pre {
    border:0;
    margin: 0 15px;
    padding: 10px 64px;
    width: 33%;
    resize:none;
    background: white;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-box-shadow: -1px -1px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: -1px -1px 1px rgba(0,0,0,0.2);
}
h3,h5{
    margin-left:3em
}
#editors{
     position:relative;
}
#html{
     position:absolute;
     right:0;
     top:0;
}

pre {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;
}
