* {
    -moz-box-sizing:border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*:before {
    -moz-box-sizing:border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*:after {
    -moz-box-sizing:border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    background: url(../images/tile.png);
}
body {
    margin: 0;
    font: 16px/1.4 "Helvetica Nueue", "Lucida Grande", Arial, sans-serif;
    background: url(../images/top.png) 0 0 repeat-x;
    text-align: center;
}
h3, h4, h5 {
    color: #00A86B;
}
h1 {
    margin: 0 auto 55px auto;
    width: 217px;
    height: 120px;
    background: url(../images/logo.png);
    text-indent: -999999px; /*Remove Raw Text to make way for image*/
    outline: none;
}
h2 {
    text-align: center;
    margin-bottom: 4em;
}
h3 {
    border-bottom: 2px solid #EEE;
}
textarea {
    display: block;
    overflow: auto;
    width: 100%;
    resize: vertical;
    min-height: 25em;
}
#container {
    margin: 0 auto;
    max-width: 1200px;
    text-align: left;
}
#header {
    padding: 80px 0;
}

#nav {
    text-align: center;
    margin-bottom: 40px;
}
#nav a {
    color: #333;
    background: #eee;
    -webkit-border-radius: 5px;
    padding: 4px 8px 5px;
    display: inline-block;
    box-shadow: 0 1px 2px rgba(0,0,0,.3);
    text-decoration: none;
    margin: 5px;
}
#nav a:hover {
    color: #666;
}

pre, .code {
    padding: 4px 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #EBEBEB;
    background: white;
    color: #555;
    overflow-x: auto;
}
@media (min-width: 950px) {
    pre, .code {
        margin: 5px;
        padding: 12px 12px;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
        -webkit-box-shadow: 1px 1px 1px 2px rgba(0,0,0,0.2);
        -moz-box-shadow: 1px 1px 1px 2px rgba(0,0,0,0.2);
        border: none;
        box-shadow: 1px 1px 1px 2px rgba(0,0,0,0.2);
    }

    .row:before {
       content: "."; 
       visibility: hidden; 
       display: block; 
       height: 0; 
       clear: both;
    }
    .row:after {
       content: "."; 
       visibility: hidden; 
       display: block; 
       height: 0; 
       clear: both;
    }

    .row .col {
        float: left;
        width: 50%;
        margin: 0px;
    }
}

/* Tutorial, API & CMD Line */
#body {
    background: white;
    padding: 30px;
}

.note {
    padding: 1em 1.6em 1em 1.2em;
    vertical-align: top;
    background: #FCF8DC;
    border: 1px solid #EED5B7;
    margin: 1em 0;
    overflow-x: auto;
}

@media (min-width: 950px) {
    .note {
        -webkit-border-radius:12px;
        -moz-border-radius:12px;
        border-radius:12px;
        -webkit-box-shadow: 1px 1px 1px 2px rgba(238,213,183,0.8);
        -moz-box-shadow: 1px 1px 1px 2px rgba(238,213,183,0.8);
        border: none;
        box-shadow: 1px 1px 1px 2px rgba(238,213,183,0.8);
    }
}


/* API parameter lists */

dl {
    margin-left: 1em;
}
dt {
    color: #666;
    float: left;
    margin-right: 16px;
    min-width: 110px;
}
.returns dt {
    font-weight: bold;
    color: black;
}
dd.type {
    margin: 0;
    float: left;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #CCC;
    font-size: .75em;
    min-width: 80px;
    margin: 0 8px 0 0;
    padding: 2px 5px;
    text-align: center;
}
dd.description {
    display: table;
    min-height: 24px;
}

dd.type.string {
    background: #e1edb1;
    color: #3d4c00;
}
dd.type.object {
    background: #edb1b1;
    color: #4c0000;
}
dd.type.function {
    background: #cfb1ed;
    color: #26004c;
}
dd.type.number {
    background: #b1c9ed;
    color: #001e4c;
}
dd.type.boolean {
    background: #b1edc9;
    color: #004c1e;
}
dd.type.array {
    background: #edd5b1;
    color: #4c2d00;
}

/*Scrollbar*/

pre::-webkit-scrollbar,
pre::-webkit-scrollbar {
    width: 7px;
    height: 9px;
}
pre::-webkit-scrollbar-button:start:decrement, 
pre::-webkit-scrollbar-button:end:increment,
pre::-webkit-scrollbar-button:start:decrement, 
pre::-webkit-scrollbar-button:end:increment {
    display: block;
    height: 0;
    background-color: transparent;
}
pre::-webkit-scrollbar-track-piece,
pre::-webkit-scrollbar-track-piece {
    -webkit-border-radius: 0;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
}
pre::-webkit-scrollbar-thumb:vertical,
pre::-webkit-scrollbar-thumb:vertical {
    height: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 4px;
}
pre::-webkit-scrollbar-thumb:horizontal,
pre::-webkit-scrollbar-thumb:horizontal {
    width: 50px;
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 4px;
}

/*Stability*/

.stability {
    padding: 1em 1.6em 1em 1.2em;
    vertical-align: top;
    background: #F8F8F8;
    border: 1px solid #E8E8E8;
    border-width: 1px 1px 1px 6px;
    margin: 1em 0;
    overflow-x: auto;
    font-family: Monaco, Consolas, "Lucida Console", monospace;
}
.stability-2 {
    border-color: #FFD700;
}
