#conversion {
    position: relative;
}
#arrow {
    position: absolute;
    top: 100px;
    left: 400px;
    z-index: 10;
    width: 120px;
    height: 130px;
    background: url(../images/arrow.png);
}
pre {
    float: left;
    margin: 0 15px;
    padding: 10px 10px;
    width: 44%;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -webkit-box-shadow: -1px -1px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: -1px -1px 1px rgba(0,0,0,0.2);
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;
    background: white;
    color: #555;
}
