extends ./layout.jade
block style
  style
    #body {
      background: white;
      padding: 30px;
    }
block content
  #body
    :markdown
      ## Installation

      via npm:

          $ npm install jade

      ## Usage

      ```js
      var jade = require('jade');

      // Compile a function
      var fn = jade.compile('string of jade', options);
      fn(locals);
      ```

      ### Options

       - `self`      Use a `self` namespace to hold the locals _(false by default)_
       - `locals`    Local variable object
       - `filename`  Used in exceptions, and required when using includes
       - `debug`     Outputs tokens and function body generated
       - `compiler`  Compiler to replace jade's default
       - `compileDebug`  When `false` no debug instrumentation is compiled
       - `pretty`    Add pretty-indentation whitespace to output _(false by default)_