extends ./layout.jade

block content
  .container
    #body(data-control='interactive')
      h2 Demo
      h3 Inputs
      p Click to edit
      .row
        .col-md-6
          h4 Jade Input
          +jade
            :jadesrc
              doctype html
              html(lang="en")
                head
                  title= pageTitle
                  script(type='text/javascript').
                    if (foo) {
                       bar(1 + 5)
                    }
                body
                  h1 Jade - node template engine
                  #container.col
                    if youAreUsingJade
                      p You are amazing
                    else
                      p Get on it!
                    p.
                      Jade is a terse and simple
                      templating language with a
                      strong focus on performance
                      and powerful features.
        .col-md-6
          h4 Locals
          +js
            :jssrc
              {
                pageTitle: 'Jade Demo',
                youAreUsingJade: true
              }
      h3 Outputs
      .row
        .col-md-6
          h4 Compiled Template
          pre(data-control='output-js')
        .col-md-6
          h4 HTML Output
          +html