#header
  h1 Jade
  #nav
    a.nav-button(href='/') Home
    a.nav-button(href='/tutorial') Tutorial
    a.nav-button(href='/api') API
    a.nav-button(href='/command-line') Command Line
    a.nav-button(href='http://cssdeck.com/labs/msoldezp') Online Demo