!!! 5
html
  head
    title Jade - Template Engine
    link(rel='stylesheet', href='/public/stylesheets/all.css')
    link(rel='stylesheet', href='/public/stylesheets/highlight.css')
    link(rel='stop',href='/public/images/tile.png')
    link(rel='stop',href='/public/images/top.png')
    link(rel='stop',href='/public/images/logo.png')
  body
    include ./ribbon.jade
    #container
      include ./header.jade
      block content
    script(src='/client.js')
    include ./ga.jade