!!! 5
html
  head
    meta(charset='utf-8')
    title Jade - Template Engine
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/public/stylesheets/all.css')
    link(rel='stylesheet', href='/public/stylesheets/highlight.css')
    link(rel='stop',href='/public/images/tile.png')
    link(rel='stop',href='/public/images/top.png')
    link(rel='stop',href='/public/images/logo.png')
    include ./includes/stability.jade
  body
    include ./includes/ribbon.jade
    #container
      include ./includes/header.jade
      block content
    script(src='/client.js')
    include ./includes/ga.jade