extends ./layout.jade

block content
  #body
    h2 Language Reference
    include reference/doctype.jade
    include reference/code.jade
    include reference/comments.jade
    include reference/conditionals.jade
    include reference/iteration.jade
    include reference/mixins.jade