extends ./layout.jade

block content
  #body
    h2 Language Reference
    include reference/contents.jade
    include reference/doctype.jade
    include reference/tags.jade
    include reference/attributes.jade
    include reference/plain-text.jade
    // include reference/interpolation.jade
    include reference/code.jade
    include reference/comments.jade
    // include reference/assignment.jade
    include reference/conditionals.jade
    include reference/iteration.jade
    include reference/case.jade
    include reference/filters.jade
    include reference/mixins.jade
    // include reference/inheritance.jade
    include reference/include.jade