a(href='http://github.com/visionmedia/jade')
  img(style='position: absolute; top: 0; right: 0; border: 0; z-index: 50', src='http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png', alt='Fork me on GitHub')