div#id.left(class='user user-' + name).container
  h1.title= name
  form
    //- unbuffered comment :)
    // An example of attributes.
    input(type='text', name='user[name]', value=name)
    input(checked, type='checkbox', name='user[blocked]')
    input(type='submit', value='Update')