html
  head
    h1 Title
    block scripts
      script(src='/jquery.js')
  body
    block content
      h1 Default content
      p nothing exciting
    block foot
      #footer
        p some footer content