!!! 5
html(lang='en')
  head
    title MySite - Welcome
  body
    h1 Welcome
    p
      | Welcome to my awesome
      | site of amazingness!
      | its so cool your eyes will
      | bleed.
    ul#menu
      li
        a(href='/') Home
      li
        a(href='/about') About
      li
        a(href='/contact') Contact