html
  head
    title Jade
    script[src=/jquery.js, type=text/javascript]
  body
    h1.title#main Jade Rules!
    ul#menu
      li a
      li b
      li c
    p
      | some random text
      | some random
      | some
    #just-a-div
      p without a tag
    - if (items)
      ul
        - each item in items
          li= item
          li!= item
    