!!! 5
html(lang="en")
  head
    title Example
    script
      if (foo) {
        bar();
      }
  body
    h1 Jade - node template engine
    #container
      :markdown
        Jade is a _high performance_ template engine for [node](http://nodejs.org),
        inspired by [haml](http://haml-lang.com/), and written by [TJ Holowaychuk](http://github.com/visionmedia).