html
  head
    title Jade
    script[src="/jquery.js", type="text/javascript"]
  body
    h1 Jade Rules!
    ul
      li a
      li b
      li c
    p
      | some random text
      | some random
      | some