
@import imports

.one
  @mixin dialog

@mixin dialog(title)
  .dialog
    h1= title
    p stuff

.two
  @mixin dialog('Whoop')

@mixin dialog(title, desc)
  .dialog
    h1= title
    p= desc

.three
  @mixin dialog('Whoop', 'Just a mixin')