p
  | Just some random stuff
  | because I dont have to much
  | to write here, but my name is #{name}
  | and my email is #{email} :)
  | .

  | Spaces are fine.
  | yup....

  | You can place inline elements such as an
  input(type='text', value='input')
  | or things like
  em emphasis
  | . Sometimes this gets a little annoying
  | but you can also place literal html within
  | <em>within</em> text blocks.

p another para