extends ./layout.jade

block content
  .container
    #body
      :marked
        # Command Line

        ## Installation

        via npm:

            $ npm install jade-cli --global

        ## Usage

        ```
        $ jade [options] [dir|file ...]
        ```

        Render `<file>`s and all files in `<dir>`s. If no files are specified,
        input is taken from standard input and output to standard output.

        ### Options

        ```
        -h, --help             output usage information
        -V, --version          output the version number
        -O, --obj <str|path>   JSON/JavaScript options object or file
        -o, --out <dir>        output the rendered HTML or compiled JavaScript to
                               <dir>
        -p, --path <path>      filename used to resolve includes
        -P, --pretty           compile pretty HTML output
        -c, --client           compile function for client-side runtime.js
        -n, --name <str>       the name of the compiled template (requires --client)
        -D, --no-debug         compile without debugging (smaller functions)
        -w, --watch            watch files for changes and automatically re-render
        -E, --extension <ext>  specify the output file extension
        -H, --hierarchy        keep directory hierarchy when a directory is
                               specified
        -s, --silent           do not output logs
        --name-after-file      name the template after the last section of the file
                               path (requires --client and overriden by --name)
        --doctype <str>        specify the doctype on the command line (useful if it
                               is not specified by the template)
        ```

        ### Examples

        Render all files in the `templates` directory:

        ```
        $ jade templates
        ```

        Create `{foo,bar}.html`:

        ```
        $ jade {foo,bar}.jade
        ```

        Using `jade` over standard input and output streams:

        ```
        $ jade < my.jade > my.html
        $ echo "h1 Jade!" | jade
        ```

        Render all files in `foo` and `bar` directories to `/tmp`:

        ```
        $ jade foo bar --out /tmp
        ```
