extends ./layout.jade

block content
  mixin link(id)
    li(class=(id === currentDocumentation ? 'active' : false))
      a(href=path('/reference/' + id))= '{{' + id + '}}'
  .row
    .col-md-2
      ul.nav.nav-pills.nav-stacked
        +link('attributes')
        +link('case')
        +link('code')
        +link('comments')
        +link('conditionals')
        +link('doctype')
        +link('filters')
        +link('includes')
        +link('inheritance')
        +link('iteration')
        +link('mixins')
        +link('plain-text')
        +link('tags')
    .col-md-10
      block documentation
        h1 {{language-reference}}
        | {{language-reference-description}}
