-
  list = ["uno", "dos", "tres",
          "cuatro", "cinco", "seis"];
//- Without a block, the element is accepted and no code is generated
-
each item in list
  -
    string = item.charAt(0)
    
      .toUpperCase() +
    item.slice(1);
  li= string
