
users = []

ul
  for user in users
    li= user.name
  else
    li no users!


users = [{ name: 'tobi', friends: ['loki'] }, { name: 'loki' }]

if users
  ul
    for user in users
      li= user.name
    else
      li no users!
