doctype html
html
    head
        title escape-test
    body
        textarea
            - var txt = '<param name="flashvars" value="a=&quot;value_a&quot;&b=&quot;value_b&quot;&c=3"/>'
            | #{txt}
