- var version = 1449104952939

<ul>
  <li>foo</li>
  <li>bar</li>
  <li>baz</li>
</ul>

<!--build:js /js/app.min.js?v=#{version}-->
<!--endbuild-->

p You can <em>embed</em> html as well.
p: <strong>Even</strong> as the body of a block expansion.
