extends ../fixtures/multi-append-prepend-block/redefine

append content
	p appended content 1

prepend content
	p prepended content 1

append content
	p appended content 2

prepend content
	p prepended content 2