
mixin article(name)
  section.article
    h1= name
    block

html
  body
    +article('Foo'): p I'm article foo

mixin article(name)
  section.article
    h1= name
    p
      block

html
  body
    +article('Something').
      I'm a much longer
      text-only article,
      but you can still
      inline html tags
      in me if you want.