p
  ' Here is a
  a(href='#') link
  | .

p
  ' Here is a
  a(href='#') second link
  ' and here is
  a(href='#') yet another one
  | .

p
  b Wow!
  ' <em>There are</em> spaces around embedded <em>tags.</em>
