html
  head
    style.
      body {
        padding: 50px;
      }
  body
    div(style='color:red;background:green')
    div(style={color: 'red', background: 'green'})
    div&attributes({style: 'color:red;background:green'})
    div&attributes({style: {color: 'red', background: 'green'}})
    mixin div()
      div&attributes(attributes)
    +div(style='color:red;background:green')
    +div(style={color: 'red', background: 'green'})
    - var bg = 'green';
    div(style={color: 'red', background: bg})
    div&attributes({style: {color: 'red', background: bg}})
    +div(style={color: 'red', background: bg})
