h3#code Code

p Jade makes it possible to write inline JavaScript code in your templates.  There are three types of code.

h4#unbufferedcode Unbuffered Code

p Unbuffered code starts with <code>-</code> does not add any output directly, e.g.

.row(data-control='interactive')
  .col-md-6
    +jade
      :jadesrc
        - for (var x = 0; x < 3; x++)
          li item
  .col-md-6
    +html
      :htmlsrc
        <li>item</li>
        <li>item</li>
        <li>item</li>

h4#bufferedcode Buffered Code

p Buffered code starts with <code>=</code> and outputs the result of evaluating the JavaScript expression in the template.  For security, it is first HTML escaped:


.row(data-control='interactive')
  .col-md-6
    +jade
      :jadesrc
        p
          = 'This code is <escaped>!'
  .col-md-6
    +html
      :htmlsrc
        <p>This code is &lt;escaped&gt;!</p>

p It can also be written inline with attributes, and supports the full range of JavaScript expressions:

.row(data-control='interactive')
  .col-md-6
    +jade
      :jadesrc
        p= 'This code is' + ' <escaped>!'
  .col-md-6
    +html
      :htmlsrc
        <p>This code is &lt;escaped&gt;!</p>

h4#unescapedbufferedcode Unescaped Buffered Code

p Unescaped buffered code starts with <code>!=</code> and outputs the result of evaluating the JavaScript expression in the template.  This does not do any escaping, so is not safe for user input:


.row(data-control='interactive')
  .col-md-6
    +jade
      :jadesrc
        p
          != 'This code is <strong>not</strong> escaped!'
  .col-md-6
    +html
      :htmlsrc
        <p>This code is <strong>not</strong> escaped!</p>

p It can also be written inline with attributes, and supports the full range of JavaScript expressions:

.row(data-control='interactive')
  .col-md-6
    +jade
      :jadesrc
        p!= 'This code is <strong>not</strong> escaped!'
  .col-md-6
    +html
      :htmlsrc
        <p>This code is <strong>not</strong> escaped!</p>

