p On this page:
ul
  li
    a(href="#doctype") doctype
  li
    a(href="#tags") Tags
    ul
      li 
        a(href="#expansion") Block Expansion
  li
    a(href="#attributes") Attributes
    ul
      li 
        a(href="#booleanattribs") Boolean Attributes
      li
        a(href="#classattribs") Class Attributes
      li
        a(href="#classliteral") Class Literal
      li
        a(href="#idliteral") ID Literal
  li
    a(href="#plaintext") Plain Text
    ul
      li
        a(href="#pipedtext") Piped Text
      li
        a(href="#inlineinatag") Inline in a Tag
      li
        a(href="#blockinatag") Block in a Tag
  li
    a(href="#code") Code
    ul
      li
        a(href="#unbufferedcode") Unbuffered Code
      li
        a(href="#bufferedcode") Buffered Code
      li
        a(href="#unescapedbufferedcode") Unescaped Buffered Code
  li
    a(href="#comments") Comments
    ul
      li
        a(href="#blockcomments") Block Comments
  li
    a(href="#conditionals") Conditionals
  li
    a(href="#iteration") Iteration
  li
    a(href="#case") Case
    ul
      li
        a(href="#blockexpansion") Block Expansion
  li
    a(href="#filters") Filters
  li
    a(href="#mixins") Mixins
    ul
      li
        a(href="#mixinattributes") Mixin Attributes
  li
    a(href="#includes") Includes