h3#includes Includes

p Includes allow you to insert the contents of one jade file into another.

.row
  .col-md-6
    +jade
      :jadesrc
        // index.jade
        doctype html
        html
          include includes/head
        body
          h1 My Site
          p Welcome to my super lame site.
          include includes/foot
    +jade
      :jadesrc
        // includes/head.jade
        head
          title My Site
          script(src='/javascripts/jquery.js')
          script(src='/javascripts/app.js')

    +jade
      :jadesrc
        // includes/foot.jade
        #footer
          p Copyright (c) foobar
  .col-md-6
    +html
      :htmlsrc
        <!doctype html>
        <html>
          <head>
            <title>My Site</title>
            <script src='/javascripts/jquery.js'></script>
            <script src='/javascripts/app.js'></script>
          </head>
          <body>
            <h1>My Site</h1>
            <p>Welcome to my super lame site.</p>
            <div id="footer">
              <p>Copyright (c) foobar</p>
            </div>
          </body>
        </html>