h3 Iteration

p Jade's first-class iteration syntax makes it easier to iterate over arrays and objects within a template:

.row
  .col
    pre
      code.input
        :jadesrc
          ul
            each val in [1, 2, 3, 4, 5]
              li= val
  .col
    pre
      code.output
        :htmlsrc
          <ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
          </ul>

p You can also get the index as you iterate:

.row
  .col
    pre
      code.input
        :jadesrc
          ul
            each val, index in ['one', 'two', 'three']
              li= index + ': ' + val
  .col
    pre
      code.output
        :htmlsrc
          <ul>
            <li>1: one</li>
            <li>2: two</li>
            <li>3: three</li>
          </ul>

p Jade also lets you iterate over the keys in an object:

.row
  .col
    pre
      code.input
        :jadesrc
          ul
            each val, index in {1: 'one', 2: 'two', 3: 'three'}
              li= index + ': ' + val
  .col
    pre
      code.output
        :htmlsrc
          <ul>
            <li>1: one</li>
            <li>2: two</li>
            <li>3: three</li>
          </ul>

p The object or array to iterate over is just plain JavaScript so it can be a variable or the result of a function call as well.