h3 Plain Text

p Jade provides three common ways of getting plain text.  They are useful in different situations

h4 Piped Text

p The simplest way of adding plain text to templates is to prefix the line with a <code>|</code> character (pronounced "pipe").

.row
  .col
    pre
      code.input
        :jadesrc
          | Plain text can include <strong>html</strong>
          p
            | It must always be on its own line
  .col
    pre
      code.output
        :htmlsrc
          Plain text can include <strong>html</strong>
          <p>It must always be on its own line</p>

h4 Inline in a Tag

p Since it's a common use case, you can put text in a tag just by adding it inline after a space.

.row
  .col
    pre
      code.input
        :jadesrc
          p Plain text can include <strong>html</strong>
  .col
    pre
      code.output
        :htmlsrc
          <p>Plain text can include <strong>html</strong></p>

h4 Block in a Tag

p Often you might want large blocks of text within a tag.  A good example is with inline scripts or styles.  To do this, just add a <code>.</code> after the tag (with no preceding space):

.row
  .col
    pre
      code.input
        :jadesrc
          script.
            if (usingJade)
              console.log('you are awesome')
            else
              console.log('use jade')
  .col
    pre
      code.output
        :htmlsrc
          <script>
            if (usingJade)
              console.log('you are awesome')
            else
              console.log('use jade')
          </script>
