.data
  ol.sortable#contents
    each item in report
      if (!item.parent)
        div
          li.chapter(data-ref= item.id)
            a(href='/admin/report/detail/' + item.id)
              = item.name
          - var chp = item.id
            ol.sortable
              each item in report
                if (item.parent === chp && item.type === 'section')
                  div
                    li.section(data-ref= item.id)
                      a(href='/admin/report/detail/' + item.id)
                        = item.name
                    - var sec = item.id
                      ol.sortable
                        each item in report
                          if (item.parent === sec && item.type === 'page')
                            div
                              li.page(data-ref= item.id)
                                a(href='/admin/report/detail/' + item.id)
                                  = item.name
                              - var page = item.id
                                ol.sortable
                                  each item in report
                                    if (item.parent === page && item.type === 'subpage')
                                      div
                                        li.subpage(data-ref= item.id)
                                          a(href='/admin/report/detail/' + item.id)
                                            = item.name